@model Modelo.Cadastro.ProdutoM

<div class="card-body">
    <div class="form-group">

        <label asp-for="ProdutoID" class="control-label"></label>
        <br />
        <div class="input-group mb-3">
            <span class="input-group-prepend">

            </span>
            <input asp-for="ProdutoID" class="form-control" disabled="disabled"
                   aria-describedby="basic-addon1" />
        </div>

        <label asp-for="Nome" class="control-label"></label>
        <br />
        <div class="input-group mb-3">
            <span class="input-group-prepend">

            </span>
            <input asp-for="Nome" class="form-control" disabled="disabled"
                   aria-describedby="basic-addon2" />
        </div>

        <label asp-for="Descricao" class="control-label"></label>
        <br />
        <div class="input-group mb-3">
            <span class="input-group-prepend">

            </span>
            <input asp-for="Descricao" class="form-control" disabled="disabled"
                   aria-describedby="basic-addon3" />
        </div>

        <label asp-for="Distribuidora" class="control-label"></label>
        <br />
        <div class="input-group mb-3">
            <span class="input-group-prepend">

            </span>
            <input asp-for="Distribuidora" class="form-control" disabled="disabled"
                   aria-describedby="basic-addon4" />
        </div>
    </div>
</div>