@model Modelo.Cadastro.ProdutoM

@{
    Layout = "_LayoutIES";
}

@section Styles{
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
}

<div class="card-body">
    <div class="card-header text-white bg-secondary text-center h1">
        Exibição do Produto
    </div>

    @Html.Partial("~/Areas/Cadastros/Views/Produto/_PartialDetailsContentCard.cshtml", Model)

    <div class="card-footer text-center text-white">
        <a asp-action="Index" class="btn btn-secondary">Retornar</a>
    </div>
</div>